a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_6a5612c4 a { text-decoration: none; }
#menu_6a5612c4_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6a5612c4_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_6a5612c4_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6a5612c4_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6a5612c4_entry:hover span { color:#FFFFFF !important; }
		.menu_6a5612c4_mainMenuEntry { text-align: center; }
		.menu_6a5612c4_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6a5612c4_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6a5612c4 .mobileEntry { display: none; } 
		#menu_6a5612c4 .normalEntry { display: block; } 
		#menu_6a5612c4_menualignmentwrapper{ width:344px; left: calc(50% - 172px);  } 
		@media only screen and (max-width:600px) { 
			#menu_6a5612c4 .mobileEntry { display: block; } 
			#menu_6a5612c4 .normalEntry { display: none; } 
			#menu_6a5612c4_menualignmentwrapper { width:37px; left: calc(50% - 18px);  } 
		}
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#img_4146eb3e { vertical-align: bottom; position:relative; display: inline-block; width:42%; background:none; height:auto;  }
.textstyle2 { text-align:left; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#menu_6a5612c4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
#menu_6a5612c4_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:82px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle5 { font-size:14pt; font-family:Verdana, Geneva, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:82px; height:38px; left:82px;  }
.menustyle4 { position:absolute; width:77px; height:38px; left:164px;  }
.menustyle5 { position:absolute; width:103px; height:38px; left:241px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#youtube_7a7cbcc2 { box-sizing: border-box; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:50%; height:450px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
