a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#000000; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#img_ee07095 { vertical-align: bottom; position:relative; display: inline-block; width:58%; background:none; height:auto;  }
.textstyle2 { text-align:left; }
#button_7f894697 { box-sizing: border-box; position:absolute; left:30%; top:29%; width:150px; height:40px; background-color:#000000; background: linear-gradient(to bottom, #808080, #000000); border: 2px solid #031020;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:14pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
#button_56357dc7 { box-sizing: border-box; position:absolute; left:40%; top:29%; width:150px; height:40px; background-color:#000000; background: linear-gradient(to bottom, #808080, #000000); border: 2px solid #031020;  }
#button_19690fcc { box-sizing: border-box; position:absolute; left:50%; top:29%; width:150px; height:40px; background-color:#000000; background: linear-gradient(to bottom, #808080, #000000); border: 2px solid #031020;  }
#button_6848ba0 { box-sizing: border-box; position:absolute; left:60%; top:29%; width:150px; height:40px; background-color:#000000; background: linear-gradient(to bottom, #808080, #000000); border: 2px solid #031020;  }
