body {
  background-image: url(onaudiodrive_back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  background-attachment: fixed;
  
  height: 300vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header, nav, main, footer {
    padding: 20px;
    margin: 10px auto;
    max-width: 860px;
    background-color: rgba(0, 0, 0, .3);
}

/* Die Boxen im Main-Bereich formatieren */
.box {
    border: 2px solid #ccc; /* Rahmen der Box */
    background-color: rgba(0, 0, 0, .3); /* Hintergrundfarbe der Box */
    padding: 15px; /* Innenabstand */
    margin-bottom: 20px; /* Abstand zwischen den Boxen */
    border-radius: 5px; /* Abgerundete Ecken */
}
a {
    color: #ffffff; /* Beispiel: Orange-Rot */
    text-decoration: none; /* Unterstreichung entfernen (optional) */
}
